nav.navbar.navbar-default
  .container-fluid(style="padding-left: 50px;")
    .navbar-header
      a.navbar-brand(href="/admin")
        img(src="/images/ico.png", alt="", width="20px")
    .collapse.navbar-collapse
      ul.nav.navbar-nav
        li
          a(href="/admin") 后台首页
        li
          a(href="/admin/news/list") 新闻
        li 
          a(href="/admin/ad/list") 广告
        li
          a(href="/admin/bill/list") 快递单
        li
          a(href="/admin/page/list") 单页面
        li
          a(href="/admin/site/list") 网点
        li
          a(href="/admin/hr/list") 招聘
        li.dropdown
          a.dropdown-toggle(href="#", data-toggle="dropdown") 工具
            span.caret
          ul.dropdown-menu
            li
              a(href="/admin/contraband/list") 禁寄品
            li
              a(href="/admin/complaint/list") 投诉建议
        li
          a(href="/admin/user/list") 用户
        li
          a(href="/") 前台首页
      form.navbar-form.navbar-right#search(method="GET", action="")
        .form-group
          input.form-control(type="text", placeholder="Search")
        button.btn.btn-default(type="submit", data-toggle="modal", data-target="#search-modal") 搜索
.modal.fade#search-modal
  .modal-dialog
    .modal-content
      .modal-header
        h4 关键词：
          span
      .modal-body
        ul.list-unstyled
      .modal-footer
        button.btn.btn-primary(data-dismiss="modal") 关闭