script(src="/libs/underscore/underscore-min.js")
script(src="/libs/jquery/dist/jquery.min.js")
script(src="/libs/handlebars/handlebars.min.js")
script(src="/libs/moment/min/moment.min.js")
script(src="/libs/bootstrap/dist/js/bootstrap.min.js")

block script