footer
  div.wrapper
    div.clearfix
      div.services.clearfix
        ul
          li.list
            span 寄件
            ul
              li
                a(href="") 我要寄件
              li
                a(href="") 运单追踪
              li
                a(href="") 运费查询
              li
                a(href="") 服务网点查询
          li.list
            span 服务
            ul
              li
                a(href="") 快递查询
              li
                a(href="") 报价查询
              li
                a(href="") 禁寄品须知
              li
                a(href="") 投诉建议
              li
                a(href="") 服务指南
          li.list
            span 集团
            ul
              li
                a(href="") 人才招聘
              li
                a(href="") 一通概况
              li
                a(href="") 服务网络
      div.customer
        h3 客户热线
        div.tel 4008 123 123
        div.qrcode 
    div.links.clearfix
      ul
        li
          a(href="") 关于一通
        li
          a(href="") 使用条款
        li
          a(href="") 联系我们
        li
          a(href="") 人才招聘
      div.copyright 2015 一通速运 版权所有