div.header-container
  header.wrapper.clearfix
    h1.logo
      a(href="/") 一通快递
    nav
      ul
        li
          a(href="/") 首页
        li
          a(href="/news/") 新闻动态
        li
          a(href="/page/about/overview") 关于一通
        li
          a(href="/service/") 快递服务
        li.sign
          if user
            span 欢迎您，#{user.name}
            span &nbsp;|&nbsp;
            a.navbar-link(href="/logout") 登出
          else
            a#signup-button(href="javascript:;") 注册 
            a(style="cursor:default;text-decoration:none;") /
            a#signin-button(href="javascript:;") 登录
