div.header-container
  header.wrapper.clearfix
    h1.logo
      a(href="/") 一通快递
    nav
      ul
        li
          a(href="/") 首页
        li
          a(href="/news/") 新闻动态
        li
          a(href="/page/about/overview") 关于一通
        li
          a(href="/service/") 快递服务
