script(src="/libs/jquery/dist/jquery.min.js")
script(src="/libs/handlebars/handlebars.min.js")
script(src="/libs/moment/min/moment.min.js")
script(src="/p/js/common.js")
script(src="/p/js/user.js")
block script