ul.text-edit.list-inline
  li
    button.btn.btn-xs.btn-default(type="button", data-val="<p></p>") 段落
  li
    button.btn.btn-xs.btn-default(type="button", data-val="<p><strong></strong></p>") 标题
  li
    button.btn.btn-xs.btn-default(type="button", data-val="<p class='enhance-text'><strong></strong></p>") 醒目标题
  li
    button.btn.btn-xs.btn-default(type="button", data-val="<em></em>") 斜体
  li
    button.btn.btn-xs.btn-default(type="button", data-val="<strong></strong>") 强调