.tools
  - var items = [{"title": "违禁品查询", "index": 1, "link": "", "icon": "&#xe986;"}, {"title": "投诉建议", "index": 2, "link": "", "icon": "&#xe600;"}, {"title": "运费查询", "index": 3, "link": "", "icon": "&#xe93b;"}, {"title": "快递查询", "index": 4, "link": "", "icon": "&#xe9b0;"}, {"title": "在线寄件", "index": 5, "link": "", "icon": "&#xe956;"}, {"title": "网点查询", "index": 6, "link": "", "icon": "&#xe942;"}]
  ul
    each item in items
      li 
        i(class="tool-#{item.index}") !{item.icon}
        a(href="#{item.link}") #{item.title}