.tools {
  width: 30%;
  float: left;
  box-sizing: border-box;
}
.tools li{
  box-sizing: border-box;
  float: left;
  width: 50%;
  text-align: center;
  padding-bottom: 15px;
  cursor: pointer;
}
.tools li i{
  display: block;
  width: 100%;
  font-size: 40px;
  color: #F0553A;
  margin-bottom: 10px;
}
.tools li a{
  color: #333;
}