.main-content {
  float: left;
  width: 70%;
  background: #fff;
  border: 1px solid #bfbfbf;
}

.main-content h1 {
  font-size: 20px;
  line-height: 2;
  font-weight: bold;
  color: #fff;
  background: gray;
  padding: 5px 15px;
  margin-bottom: 10px;
}

.main-content .content-container {
  padding: 15px;
  min-height: 300px;
}

.main-content .content-container p {
  font-size: 14px;
  line-height: 1.5;
  text-indent: 2em;
  color: #333;
  margin: 10px 0;
}

.main-content .content-container li {
  font-size: 14px;
}

.main-content .content-container ul li {
  list-style-position:inside;
  list-style-type: square;
}

.main-content .content-container ol li {
  list-style-position:inside;
  list-style-type: decimal;
}

#contraband-search .contraband-wrap {
  position: relative;
  width: 270px;
  display: inline-block;
  box-sizing: border-box;
}

#contraband-search input ,
#complaint input{
  box-sizing: border-box;
  width: 100%;
  height: 32px;
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 3px;
  padding-right: 25px;
  margin-bottom: 10px;
  color: #333;
}

#contraband-search .icon-contraband {
  position: absolute;
  top: 0;
  right: 5px;
  line-height: 32px;
}
#contraband-search .icon-contraband.icon-right{
  color: #3498DB;
}
#contraband-search .icon-contraband.icon-wrong{
  color: #F0553A;
}

#contraband-search button {
  display: inline-block;
  padding: 6px 12px;
  border: 1px solid #2e6da4;
  font-size: 14px;
  border-radius: 5px;
  background: #337ab7;
  color: #fff;
}

#complaint textarea {
  width: 100%;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.enhance-text strong{
  color: #eb1d21;
  font-weight: bold;
}

.sidebar {
  float: right;
  width: 20%;
}

.sidebar h2 {
  font-size: 20px;
  color: #333;
}

.sidebar ul li {
  margin-top: 10px;
  border-bottom: 1px dotted gray;
}

.sidebar ul a {
  color: #666;
  transition: .2s color ease;
}

.sidebar ul a:hover {
  color: #222;
}