.main-content {
  float: left;
  width: 70%;
  background: #fff;
  border: 1px solid #bfbfbf;
}

.main-content h1 {
  font-size: 20px;
  line-height: 2;
  font-weight: bold;
  color: #fff;
  background: gray;
  padding: 5px 15px;
  margin-bottom: 10px;
}

.main-content .content-container {
  padding: 15px;
  min-height: 300px;
}

.main-content .content-container p {
  font-size: 14px;
  line-height: 1.5;
  text-indent: 2em;
  color: #333;
  margin: 10px 0;
}

.main-content .content-container li {
  font-size: 14px;
}

.main-content .content-container ul li {
  list-style-position:inside;
  list-style-type: square;
}

.main-content .content-container ol li {
  list-style-position:inside;
  list-style-type: decimal;
}

#contraband-search .contraband-wrap {
  position: relative;
  width: 270px;
  display: inline-block;
  box-sizing: border-box;
}

#contraband-search input ,
#complaint input,
#bill-query input{
  box-sizing: border-box;
  width: 100%;
  height: 32px;
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 3px;
  padding-right: 25px;
  margin-bottom: 10px;
  color: #333;
}

#contraband-search .icon-contraband {
  position: absolute;
  top: 0;
  right: 5px;
  line-height: 32px;
}
#contraband-search .icon-contraband.icon-right{
  color: #3498DB;
}
#contraband-search .icon-contraband.icon-wrong{
  color: #F0553A;
}

#contraband-search button,
#bill-query button {
  display: inline-block;
  padding: 6px 12px;
  border: 1px solid #2e6da4;
  font-size: 14px;
  border-radius: 5px;
  background: #337ab7;
  color: #fff;
}

#complaint textarea {
  width: 100%;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.enhance-text strong{
  color: #eb1d21;
  font-weight: bold;
}

.sidebar {
  float: right;
  width: 20%;
}

.sidebar h2 {
  font-size: 20px;
  color: #333;
}

.sidebar ul li {
  margin-top: 10px;
  border-bottom: 1px dotted gray;
}

.sidebar ul a {
  color: #666;
  transition: .2s color ease;
}

.sidebar ul a:hover {
  color: #222;
}
.row{
  width: 100%;
  margin: 0 -15px;
}
.row:before{
  display: table;
  content: '';
}
.row:after{
  display: table;
  content: '';
}
.col-1,.col-2,.col-3,.col-4,.col-5,.col-6,.col-7,.col-8,.col-9,.col-10,.col-11,.col-12{
  position: relative;
  box-sizing: border-box;
  float: left;
  padding: 0 15px;
}
.col-1{
  width: 8.33333%;
}
.col-2{
  width: 16.66666%;
}
.col-3{
  width: 25%;
}
.col-4{
  width: 33.33333%;
}
.col-5{
  width: 41.66666%;
}
.col-6{
  width: 50%;
}
.col-7{
  width: 58.33333%;
}
.col-8{
  width: 66.66666%;
}
.col-9{
  width: 75%;
}
.col-10{
  width: 83.33333%;
}
.col-11{
  width: 91.66666%;
}
.col-12{
  width: 100%;
}
.col-offset-9{
  margin-left: 75%;
}
.col-offset-10{
  margin-left: 83.33333%
}
.bill-table{
  font-size: 14px;
}
.pull-right{
  float: right;
}
th{
  white-space: nowrap;
  font-weight: bold;
  border-bottom: 2px solid #ddd;
}
th, td{
  text-align: left;
  padding: 8px;
  line-height: 1.5;
  vertical-align: bottom;
}
td {
  vertical-align: top;
}
.form-group:after{
  content: '';
  display: table;
}
.form-group label{
  text-align: right;
  padding-top: 7px;
}
.form-group .row {
  margin-bottom: 15px;
}
.form-group input {
  box-sizing: border-box;
  width: 100%;
  height: 34px;
  line-height: 1.5;
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid #ccc;
  padding: 6px 12px;
}
.form-group textarea {
  width: 100%;
  height: 50px;
  border-radius: 4px;
  border: 1px solid #ccc;
  max-width: 100%;
}
.btn{
  padding: 6px 12px;
  font-size: 14px;
  vertical-align: middle;
  line-height: 1.5;
  border-radius: 4px;
}
.btn-success{
  border: #4cae4c;
  background: #5cb85c;
  color: #fff;
}