#chat{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  background: #f2f2f2;
  padding: 10px 20px;
}

#m {
  box-sizing: border-box;
  float: left;
  width: 80%;
  padding: 6px;
  margin-left: 20px;
}

#chat button {
  box-sizing: border-box;
  float: right;
  width: 10%;
  padding: 7px;
  margin-right: 20px;
}

#message li {
  margin: 10px 0;
}

#message .to,
#message .from {
  border-radius: 8px;
  position: relative;
  max-width: 80%;
  word-wrap: break-word;
}

#message .to{
  float:left;
  padding: 6px 10px;
  background: #3498DB;
  color: #fff;
}
#message .to:before,
#message .from:before{
  content: '';
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-right-color: #3498DB;
  left: -10px;
  top: 50%;
  -webkit-transform: translate(0,-50%);
}
#message .from {
  float: right;
  padding: 6px 10px;
  background: #dbdbdb;
  color: #444;
}
#message .from:before{
  right: -10px;
  left: auto;
  border-right-color: transparent;
  border-left-color: #dbdbdb;
}