extends ../layout


block css
  link(rel="stylesheet", href="/p/css/components.css")
  link(rel="stylesheet", href="/p/css/news.css")

block content
  section.container
    article.main-content
      h1 广告列表
      ul
        each ad in ads
          li 
            a(href="ad/detail/#{ad._id}") #{ad.title}
              span #{moment(ad.meta.updateAt).format('YYYY/MM/DD')}
    aside.sidebar
      include ../../../components/tools