doctype html
html
  head  
    meta(charset="utf-8")
    title= title
    meta(http-equiv="X-UA-Compatible" content="IE=Edge")
    include ../../includes/head
  body
    include ../../includes/no_sign_nav
    block content
    include ../../includes/footer
    include ../../includes/script