extends ./frontend/layout

block css
  style.
    body{
      background: #fff;
    }
    .page-404{
      display: block;
      margin: 5px auto;
    }

block content
  img.page-404(src="/images/404.jpg", alt="")