extends ./frontend/layout

block css
  style.
    body{
      background: #fff;
    }
    .page-500{
      display: block;
      margin: 50px auto 200px;
    }

block content
  img.page-500(src="/images/500.jpg", alt="")