extends ../layout


block css
  link(rel="stylesheet", href="/p/css/components.css")
  link(rel="stylesheet", href="/p/css/news.css")
  link(rel="stylesheet", href="/p/css/service.css")

block script
  script(src="/libs/socket.io/socket.io-1.3.5.js")
  script(src="/libs/jquery.cookie/jquery.cookie.js")
  script(src="/p/js/service.js")

block content
  section.container
    article.main-content
      h1 客户服务
      ul#message
      form#chat.clearfix(action="")
        input#m(type="text", autocomplete="off")
        button 发送
        
    aside.sidebar
      include ../../../components/tools