extends ../layout


block css
  link(rel="stylesheet", href="/p/css/components.css")
  link(rel="stylesheet", href="/p/css/news.css")
  link(rel="stylesheet", href="/p/css/service.css")

block script
  script(src="/libs/socket.io/socket.io-1.3.5.js")
  script(src="/libs/jquery.cookie/jquery.cookie.js")
  script.
    var socket = io();
    var $chat = $('#chat');
    var uid = $.cookie('uid');
    var $message = $('#message');
    console.log(uid);
    socket.emit('welcome', uid);
    $chat.on('submit', function(e){
      e.preventDefault();

      var $input = $('#m');
      var msg = $input.val();
      socket.emit('say', msg);
      $input.val('');
      addMEMsg(msg);
      $input.focus();
    });

    socket.on('message', function(msg){
      addOEMsg(msg)
    });

    socket.on('welcome', function(msg) {
      addOEMsg(msg);
    });
    
    function addOEMsg(msg) {
      $message.append($('<li class="clearfix"><span class="to">'+msg+'</span></li>'));
    }
    function addMEMsg(msg) {
      $message.append($('<li class="clearfix"><span class="from">'+msg+'</span></li>'));
    }

block content
  section.container
    article.main-content
      h1 客户服务
      ul#message
      form#chat.clearfix(action="")
        input#m(type="text", autocomplete="off")
        button 发送
        
    aside.sidebar
      include ../../../components/tools