extends ../admin_layout

block script
  script(src="/p/js/components.js")

block content
  .container
    .row
      form.form-horizontal(action="/admin/news/save", method="POST")
        input(type="hidden", name="news[id]", value="#{news._id}")
        .form-group
          label.col-md-2.control-label(for="inputTitle") 新闻标题
          .col-md-10
            input#inputTitle.form-control(type="text", name="news[title]", value="#{news.title}", required)
        .form-group
          label.col-md-2.control-label(for="inputAuthor") 新闻作者
          .col-md-10
            input#inputAuthor.form-control(type="text", name="news[author]", value="#{news.author}", required)
        .form-group
          label.col-md-2.control-label(for="inputContent") 新闻内容
          .col-md-10
            include ../../../components/textarea
            textarea#inputContent.form-control(type="text", name="news[content]", rows="10") !{news.content}
        .form-group
          .col-md-offset-2.col-md-10
            button.btn.btn-default(type="submit") 录入