extends ../layout

block css
  link(rel="stylesheet", href="/p/css/page.css")

block script
  script(src="/p/js/func.js")

block content
  section.container.clearfix
    article.main-content
      .page-container
        h1 #{toolsTitle}
        .content-container
          form#contraband-search(action="get")
            .contraband-wrap
              input.contraband(type="text")
              span.icon-contraband.h
            button(type="submit") 查询
    aside.sidebar
      include ../../../components/side_bar
    